.container-set{
    padding: 3% 3%;
}
.centerLogo{
    width : 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6%;
}
.textAlign{
    text-align: center;
}
.statement{
    padding-top: 10%;
}
